

.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:500px;
    padding-bottom: 80px;
    background-image: url(https://forever.travel-assets.com/flex/flexmanager/images/2021/08/19/ORB_LMLaborDay_imgB_1920x1440_20210813.jpg);
    background-size: cover;
    background-position: bottom;
  
}